*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg,#0f172a,#1e293b,#334155);
    min-height:100vh;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.container{
    width:90%;
    max-width:900px;
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    padding:40px;
    border-radius:20px;
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:15px;
}

h2{
    margin-bottom:20px;
    color:#cbd5e1;
}

p{
    font-size:18px;
    margin-bottom:15px;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    margin:12px 0;
}

a{
    text-decoration:none;
    color:white;
}

button{
    background:linear-gradient(45deg,#3b82f6,#2563eb);
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(59,130,246,0.4);
}

input{
    width:80%;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-top:8px;
    margin-bottom:15px;
    font-size:15px;
}

.subject-card{
    background:rgba(255,255,255,0.1);
    padding:15px;
    border-radius:12px;
    margin:10px;
    transition:0.3s;
}

.subject-card:hover{
    transform:scale(1.03);
    background:rgba(255,255,255,0.15);
}

.quiz-box{
    text-align:left;
    margin-top:20px;
}

.quiz-box p{
    font-weight:bold;
    margin-top:20px;
}

.result-box{
    background:rgba(255,255,255,0.1);
    padding:25px;
    border-radius:15px;
}